#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.formStyle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  width: 100%;
}

.formStyle input{
  width: 60%;
  padding: 1em;
  margin: 0.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.formStyle textarea{
  width: 60%;
  padding: 1em;
  margin: 0.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.formStyle button{
  width: 60%;
  padding: 1em;
  margin: 0.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #eab420;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.formStyle button:hover{
  background-color: #f0c14b;
}

.formStyle button:disabled{
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}